.project-card{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0px;
    padding: 8px 0px;
}
.photo{
    width: 50%;
}

.info{
    margin-right: 24px;
}

.project-title{
    font-size: 25px;
    font-weight: 650;
}

.project-tags{
    display: flex;
    max-width: 60%;
    flex-wrap: wrap;
}

.tag {
    padding:  4px 8px;
    background-color: blue;
    color: white;
    border-radius: 4px;
    margin-right: 6px;
    margin-bottom: 4px;
}



@media only screen and (max-width: 720px) {
    .photo {
        width: 90%;
    }
    .project-card {
        flex-direction: column-reverse;
    }
    .project-info {
        margin-left: 0px;
        margin-top: 12px;
    }
    .project-tags {
        max-width: 100%;
    }
}
